*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;

}

.padre{
    width: 90%;
    border: solid 3px black;
    height: 400px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    grid-template-areas: 
    "ab ab c"
    "d ef ef"
    ;
}

.hijo{
    background-color: darkorchid;
    border: yellow 5px solid;
}

.ab{
    background-color: magenta;
    grid-area: ab;

}

.c{
    background-color: salmon;
    grid-area: c;
}

.d{
    background-color: saddlebrown;
    grid-area: d;
}
.ef{
    background-color: mediumseagreen;
    grid-area: ef;
}
